.container {
	max-width: 500px;
	margin: 30px auto;
	overflow: auto;
	min-height: 300px;
	border: 2px solid rebeccapurple;
	padding: 30px;
	border-radius: 10px;
	background: linear-gradient(rgb(110, 110, 110), rgb(49, 48, 48));
}